body {
    padding: 0px;
    margin: 0px;
}

div.fillpage {
    margin: 0px;
    padding: 0px;
    width: 100vw;
    height: 100vh;
}

div.center {
    margin: 0px auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    transform: translate(-50%, -50%);
}

.blue {
    background-color: #15c7f6;
}

.green {
    background-color: #15f698;
}

.red {
    background-color: #e86042;
}

.grey {
    background-color: lightgrey;
}

h1, h1, h2, h3, h4, h5, h6, p {
    font-family: sans-serif;
}

h1 {
    margin: 20px;
}

p {
    margin: 4px;
}

p.subtle {
    color: #1796b8;
}

#name-input {
    margin: 0px 10px;
    padding: 6px;
}

div.mycards-wrapper {
    position: absolute;
    bottom: 0px;
    width: 100vw;
    /*height: 100vh;*/
    overflow: hidden;
}

div.mycards {
    position: relative;
    bottom: 0px;
    margin: 0px auto;
    text-align: center;
}

div.mycards img {
    position: relative;
    margin: 0px -30px;
    bottom: -50px;
    transition: bottom 0.1s ease-out;
    /*transform: scale(0.8);*/
}

div.mycards img:hover {
    bottom: 0px;
}

div.other-players {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

div.player-info {
    display: inline-block;
    margin: 0px 30px;
}

span.massive {
    font-size: 25em;
    color: #1796b8;
    margin: 40px;
}

.fixed-topleft {
    position: fixed;
    top: 10px;
    left: 10px;
}

.blur {
    filter: sepia(1);
}
