doctype html
html(lang="en")
    head
        link(rel="stylesheet", type="text/css", href="/static/style.css")
    body
        div(class="fillpage blue")
            div(class="other-players", id="other-players")
            div(class="center")
                p
                    span(class="massive", id="bomb-timer") 0
                    img(src="/static/images/cardback.png", id="discard-pile")
            div(class="mycards", id="my-cards")
    script(src="/static/jquery-3.1.0.min.js")
    script(src="/static/js.cookie.js")
    script(src="/socket.io/socket.io.js")
    script(src="/static/game.js")
