doctype html
html(lang="en")
    head
        link(rel="stylesheet", type="text/css", href="/static/style.css")
    body
        div(class="fillpage blue")
            div(class="other-players")
                div(class="player-info")
                    h1 Player 1
                    p 3 Lives
                    p 8 Cards
                div(class="player-info")
                    h1 Player 2
                    p 2 Lives
                    p 5 Cards
                div(class="player-info")
                    h1 Player 3
                    p 4 Lives
                    p 6 Cards
            div(class="center")
                p
                    span(class="massive") 45
                    img(src="/static/images/cardback.png")
            div(class="mycards")
                img(src="/static/images/cardback.png")
                img(src="/static/images/cardback.png")
                img(src="/static/images/cardback.png")
                img(src="/static/images/cardback.png")
                img(src="/static/images/cardback.png")
    script(src="/static/jquery-3.1.0.min.js")
    script(src="/static/js.cookie.js")
